/* styles/pattern-reveal.css */

.patternReveal {
  inset: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.patternReveal svg {
  aspect-ratio: 16 / 9;
}
polyline {
  fill: transparent;
  stroke: rgb(55, 255, 255); /* Set to white to make it visible on a black background */
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
}